{{/* vim: set filetype gotmpl: */}}

["{{ if eq .chezmoi.os "windows" }}Appdata/Local/nvim{{ else }}.config/nvim{{ end }}"]
type = "git-repo"
url = "https://github.com/arunim-io/nvim.git"
refreshPeriod = "6h"

['.config/wezterm/types']
type = 'archive'
url = 'https://github.com/gonstoll/wezterm-types/archive/refs/heads/main.zip'
refreshPeriod = "24h"
include = ['*/types/**']
stripComponents = 2
