#!/usr/bin/env bash

CHEZMOI_CONFIG_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/chezmoi"
AGE_KEY_FILE="$CHEZMOI_CONFIG_DIR/key.txt"

if [ ! -f "$AGE_KEY_FILE" ]; then
  mkdir -p "$CHEZMOI_CONFIG_DIR"
  chezmoi age decrypt --output "$AGE_KEY_FILE" --passphrase '{{ joinPath .chezmoi.sourceDir "key.txt.age" }}'
  chmod 600 "$AGE_KEY_FILE"
fi

{{/* vim: set filetype=gotmpl: */}}
