[user]
  email = {{ if hasKey . "email" }}{{ .email | quote }}{{ else }}"mugdhaarunimahmed2017@gmail.com"{{ end }}
  name = {{ if hasKey . "name" }}{{ .name | quote }}{{ else }}"Mugdha Arunim Ahmed"{{ end }}

{{/* vim: set filetype=gotmpl: */}}
