[commit]
  gpgsign = true

[credential]
  helper = cache

[gpg]
  format = ssh

[user]
  email = {{ if hasKey . "email" }}{{ .email | quote }}{{ else }}"mugdhaarunimahmed2017@gmail.com"{{ end }}
  name = {{ if hasKey . "name" }}{{ .name | quote }}{{ else }}"Mugdha Arunim Ahmed"{{ end }}
  signingKey = {{ joinPath .chezmoi.homeDir ".ssh/id_ed25519.pub" }}

{{/* vim: set filetype=gotmpl: */}}
