encryption = "age"

[age]
identity = '{{ joinPath .chezmoi.homeDir ".config/chezmoi/key.txt" }}'
recipient = "age1k3mk4vgeujcwpdarutpr5uayfju6vasev7charanh4zg729209xsey30fm"

{{/* vim: set filetype=gotmpl: */}}
