include "inputs.kdl"
include "outputs.kdl"
include "binds.kdl"
include "switch-events.kdl"
include "layouts.kdl"
include "workspaces.kdl"
include "misc.kdl"
include "rules.kdl"
include "animations.kdl"
include "gestures.kdl"
include "recent-windows.kdl"
include "debug.kdl"
